body {
    position: relative;
    background-color: #ffffff;
    height: 350px;
}

.block {
    width: 240px;
    height: 130px;
    background-color: #008000;
    border: 2px solid #000000;
    font-weight: bold;
    color: #000000;
    position: absolute;
    padding-top: 10px;
    text-align: center;
}

.block-left {
    top: 100px;
    left: 250px;
}

.block-right {
    top: 100px;
    left: 520px;
}

.block-overlay {
    width: 320px;
    height: 70px;
    background-color: rgba(0, 100, 255, 0.6);
    color: #ffffff;
    border: 2px solid #000000;
    text-align: center;
    position: absolute;
    top: 140px;
    left: 350px;
    z-index: 3;

    line-height: 60px;
    font-size: 18px;
}
