.submenu-link {
    color: #800080;
}

.menu-link {
    color: #008000;
}

.submenu {
    list-style: none;
}

.submenu--berries {
    list-style-type: square;
}

.submenu-item--potato {
    list-style-image: url(../icons/potato-logo.png);
}

.submenu-item--cucumber {
    list-style-image: url(../icons/cucumber-logo.png);
}

.submenu-item--beet {
    list-style-image: url(../icons/beet-logo.png);
}

.special > .menu-link {
    color: #000000;
}

ol {
    list-style-position: inside;
    padding-left: 0;
}
