* {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 40px;
}

h1 {
    text-decoration: underline;
}

p {
    text-align: center;
    color: #008000;
}

div {
    text-align: justify;
}

.important {
    color: #ff0000;
}

.nowrap {
    white-space: nowrap;
}

.lead {
    font-style: italic;
    font-weight: bold;
}

.elevated {
    text-shadow: 5px -5px 3px #0000ff;
}

.emphasis {
    text-decoration: line-through;
    text-transform: uppercase;
    text-indent: 50px;
}

.expanded {
    letter-spacing: 30px;
    word-spacing: 50px;
}
